.boton{
    width: 100px;
    height: 30px;
    font-size: 15px;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
}

.boton-send{
    @extend .boton;  
    color: green;
}

.boton-reset{
    @extend .boton; 
    color: red;
}

.boton-noapply{
    @extend .boton;  
    color: blue;
}